<div class="container mt-4">
  <table class="table table-dark text-center">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th *ngIf="isAdmin" scope="col">Edit</th>
      <th *ngIf="isAdmin" scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <th>{{user.username}}</th>
      <td>{{user.email}}</td>
      <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="update/{{user.id}}"><i class="far fa-edit"></i> Edit</button></td>
      <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="onDelete(user.id)"><i class="far fa-trash-alt"></i> Delete</button></td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-primary" routerLink="/users/create"><i class="fas fa-plus-circle"></i> New</button>
  </div>
</div>
